{% extends 'temp/admin.html' %}
{% block base %}

	<h1 align="center">MANAGE ORDER</h1>
      <div class="container">
<table border="1" align="center">
        <tr>
            <td><b>PRODUCT NAME</b></td>
            <td><b>QUANTITY</b></td>
            <td><b>ORDER DATE</b></td>
            <td><b>PU_ID</b></td>
            <td><b>STATUS</b></td>
            
             
        </tr>
     {% if objval %}
    {% for obj in objval %}
        <tr>
        	<td>{{ obj.p_id }}</td>
            <td>{{ obj.quantity }}</td>
            <td>{{ obj.order_date }}</td>
            <td>{{ obj.pu_id }}</td>
            <td>{{ obj.status }}</td>
        	<td><a href="{% url 'forwarded' idd=obj.o_id %}">FORWARD</a> </td>

        </tr>
    {% endfor %}
{% endif %}
    </table>
      </div>
{% endblock %}